.searchbarContainer{
    width: 75%;
}

.navBar{
    margin-top:  2.5rem;
    border-radius: 0.5rem;
    align-items: space-between;
}
input{
    margin: 0 1.3rem
}
.navItems{
    align-self: flex-end;
}