.App {
  text-align: center;
  height: 100vh;
  width:100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  display:flex;
  flex-direction: column;
  align-content: center;
  background-image: url('/Users/macarena/Desktop/WEBSITES/WeatherApp/src/utils/clouds-loop_2.gif');
  background-size: cover;
  background-repeat: no-repeat;
}



@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
